body {
    background-color: rgb(120, 116, 116);
}

.Outline-container {
    background-color: antiquewhite;
    border: 3px solid black;
    border-radius: 10px;
    width: 800px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.Headline {
    width: 100%;
    height: 200px;
    border-bottom: 3px solid black;
}

.Contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Basic {
    width: 275px;
    height: 100px;
    border: 3px solid black;
    border-radius: 13px;
}

.Likes{
    width: 275px;
    height: 150px;
    border: 3px solid black;
    border-radius: 13px;
}

.Schedule{
    width: 275px;
    height: 250px;
    border: 3px solid black;
    border-radius: 13px;
}

.Life {
    width: 450px;
    height: 600px;
    border: 3px solid black;
    border-radius: 13px;
}

.Copyright {
    width: 100%;
    height: 25px;
    border-top: 3px solid black;
}