<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY</title>
    <link rel="stylesheet" href="../static/css/MY.css">
</head>
<body>
    <div class="Outline-container">
        <div class="Headline">Judy의 포트폴리오</div>
        <div class="Contents">
            <div class="Data">
                <div class="Basic">Basic Info.</div>
                <div class="Likes">Likes</div>
                <div class="Schedule">Schedule</div>
            </div>
            <div class="Data2">
                <div class="Life">Life</div>
            </div>
        </div>
        <div class="Copyright">Copyright</div>
    </div>
</body>
</html>