<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUDY</title>
<link rel="stylesheet" href="../statics/css/MY_Complete.css">
</head>
<body>
    <div class="Headline"></div>

        <div class="Top">
            <img class="Me" src="../statics/img/미모티콘 2.jpg">
            <div class="Motto">
                <div class="Title">
                    <div class="name">🌲Judy의 성장나무🌲</div>
                    <div class="small_motto">
                        <li>후회없이 살자</li>
                        <li>최고보다 최선을 다하자</li>
                    </div>
                </div>
            </div>
        </div>

        <div class="Middle1">
            <div class="Profile_big">
                <div class="Profile_small">MY Profile</div>
                <div class="Profile_contents">
                    <div class="contents_1">
                        <div class="Title_Major">
                            <li>Major :</li></div>
                        <div class="Title_MBTI">
                            <li>MBTI : </li></div>
                        <div class="Title_Likes">
                            <li>Likes :</li></div>
                    </div>
                    <div class="contents_2">
                        <div class="Content_Major">Department of Education</div>
                        <div class="Content_MBTI">ENTP</div>
                        <div class="Content_Likes">#Soccer(Real Madrid) #Zootopiajudy #Brother</div>
                    </div>
                    </div>
                </div>
            </div>
        

        <div class="Middle2">
            <div class="Contect_big">
                <div class="Contect_small">To Contect</div>
                <div class="Contect_Img">
                    <div class="Contect_Insta" src="../statics/img/Instagram.jpg"></div>
                    <div class="Contect_Gmail" src="../statics/img/Gmail.jpg"></div>
                    <div class="Contect_Github" src="../statics/img/GIthub.jpg"></div>
                </div>
            </div>
        </div>

        <div class="Low">
            <footer>
                ZootopiaJUDY Copyright ©
            </footer>
        </div>
</body>
</html>