body {
background-color: white;
height: 100vh;
}

.Headline {
    background-image: url(https://cdn.pixabay.com/photo/2018/11/17/22/15/trees-3822149_1280.jpg);
    width:100%; height:60%;
}

.BODY {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%;
}

.Top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Me {
    width: 33%;
    height: 33%;
}

.Motto {
    background-color: rgb(195, 249, 186);
    width: 63%;
    height: 125px;
}

.Title {
    padding: 3%;
}

.name {
    font-size: 175%;
    font-weight: 700;
}

.small_motto {
    font-size: 145%;
    font-style: italic;
}

.Middle1 {
    background-color: black;
    height: 40%;
    width: 100%;
}

.Profile_big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    width: 94%;
    height: 94%;
}

.Profile_small {
    padding: 2%;
    background-color: white;
    width: 15%;
    height: 100%;
    text-align: center;
}

.Profile_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 78%;
    height: 100%;
}

.contents_1 {
    padding-left: 1.5%;
    width: 20%;
    text-align: left;
}

.contents_2 {
    width: 80%;
    text-decoration: underline;
}

.Middle2{
    background-color: white;
    height: 40%;
    width: 100%;
}

.Contect_big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    width: 94%;
    height: 94%;
    border: solid black;
}

.Contect_small {
    padding: 2%;
    background-color: black;
    width: 15%;
    height: 100%;
    text-align: center;
    color: white;
}

.Contect_Img {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 74%;
    height: 100%;
}

.Context_Insta {
    flex-basis: 20%;
    width: 10%;
    height: 10%;
}

.Contect_Gmail {
    flex-basis: 20%;
    width: 10%;
    height: 10%;
}

.Contect_Github {
    flex-basis: 20%;
    width: 10%;
    height: 10%;
}

.Low {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 26px;
    background-color: #111;
    border-radius: 50px;
    transform: scale(1.5);
    position: relative;
}

.ball {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-out;
}

body.dark {
    background-color: #292c35;
}

body.dark p {
    color: #fff ;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}