* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;  
    height: 100vh;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 26px;
    background-color: #111;
    border-radius: 50px;
    transform: scale(1.5);
    position: relative;
}

.ball {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-out;
}

body.dark {
    background-color: #292c35;
}

body.dark p {
    color: #fff ;
}

.checkbox:checked + .label .ball {
    transform: translate(24px);
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}