<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q1_자기소개</title>

    <link rel="stylesheet" href="../static/css/Q1_style.css"></link>
</head>
<body>
    <div class="main">
    <h1> Judy Byun </h1>
    </div>

    <h2 id="write"> 교육학과 21학번 중고 새내기</h2>
    <p>멋쟁이 사자처럼에 들어와서 처음으로 HTML과 CSS를 다루어보았는데, 너무 재밌네요!</p>
    <p>현재 21살로, 다양한 사람들을 만나고 알아가는 것을 좋아해요!<br>
        앞으로 찬찬히 알아가는 시간 가졌으면 좋겠습니다 :) <br> 
        만나서 반갑습니다~~</p>

    <h2 id="write">Contact Information</h2>
    <div class="Info">
        <ul>
            <li><a id="email" href="mailto:juhyeon01290129@gmail.com">Email: juhyeon01290129@gmail.com</a></li>
            <li><p>Tel: 010-6798-2923</p></li>
        </ul>
    </div>
</body>
</html>