<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q4_카드만들기</title>

    <link rel="stylesheet" href="../static/css/Q4_style.css"></link>
</head>
<body>
    <!-- 여기는 nav 공간! -->
    <div class="main-wrap"> 
        <div class="in-wrap">
            <h2>내가 제주가면?</h2>
        </div>

        <div class="bottom-wrap">
        <p id="name">What I eat</p>
        <p>방어회/고기국수/흑돼지</p>
        <p id="name">Where I go</p>
        <p>우리 집/할머니 집/용담</p>
        <p id="name">Who I meet</p>
        <p>가족들/찐친들</p>
        <p id="name">What I do</p>
        <p>수업 듣기/집에서 힐링하기</p>
        </div>
    </div>
       
    </div>
    
   
</body>
</html>