<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE_FLEX</title>
    <link rel="stylesheet" href="../static/css/RE_flex.css">
</head>
<body>
    <div class="layout-container">
        <div class="layout-banner1">
            <div class="banner">Banner</div>
        </div>

        <div class="layout-banner2">
            <div class="title">Title</div>
            <div class="post">
                <div class="post interest">Interest</div>
                <div class="post recent">Recent</div>
            </div>
        </div>
    </div>
</body>
</html>