// mediaquery
@import './variable.scss';

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: $tabletSize) {@content;}
    }

    @else if $media == tablet {
        @media only screen and (min-width: $tabletSize) and (max-width: $pcSize) {@content;} 
    }

    @else if $media == pc {
        @media only screen and (min-width: $pcSize) {@content;} 
    }
}

// @content = 다음에 뭐 할지 알려줌/ 나중에 뭐 할게 > 이것을 설정해야 함.

.low {
    @include respond-to(mobile) {
        font-size: 35px;
        background-color: lightblue;
    }

    @include respond-to(tablet) {
        font-size: 55px;
        background-color: orange;
    }

    @include respond-to(pc) {
        font-size: 80px;
        background-color: lightpink;
    }
}